<mat-toolbar color='primary'>
  <mat-toolbar-row>
    <span><a [routerLink]="['/home']" routerLinkActive="router-link-active">Improve your quarantine experience</a></span>
    <span class="options"><a [routerLink]="['/meals']" routerLinkActive="router-link-active">Meals</a></span>
    <span class="options"><a [routerLink]="['/cocktails']" routerLinkActive="router-link-active">Cocktails</a></span>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>
