<h1 mat-dialog-title>{{data.strMeal}} Overview</h1>
<div mat-dialog-content>

    <div class= 'row'>
        <p>Area:</p>
        <input matInput value={{data.strArea}} [disabled]=true>
    </div>

    <div class= 'row'>
        <p>Ingredients:</p>
        <input matInput value={{data.strIngredient1}}{{placeholder}}{{data.strMeasure1}} [disabled]=true>
        <input matInput value={{data.strIngredient2}}{{placeholder}}{{data.strMeasure2}} [disabled]=true>
        <input matInput value={{data.strIngredient3}}{{placeholder}}{{data.strMeasure3}} [disabled]=true>
        <input matInput *ngIf="data.strIngredient4" value={{data.strIngredient4}}{{placeholder}}{{data.strMeasure4}} [disabled]=true>
        <input matInput *ngIf="data.strIngredient5" value={{data.strIngredient5}}{{placeholder}}{{data.strMeasure5}} [disabled]=true>
        <input matInput *ngIf="data.strIngredient6" value={{data.strIngredient6}}{{placeholder}}{{data.strMeasure6}} [disabled]=true>
        <input matInput *ngIf="data.strIngredient7" value={{data.strIngredient7}}{{placeholder}}{{data.strMeasure7}} [disabled]=true>
        <input matInput *ngIf="data.strIngredient8" value={{data.strIngredient8}}{{placeholder}}{{data.strMeasure8}} [disabled]=true>
        <input matInput *ngIf="data.strIngredient9" value={{data.strIngredient9}}{{placeholder}}{{data.strMeasure9}} [disabled]=true>
        <input matInput *ngIf="data.strIngredient10" value={{data.strIngredient10}}{{placeholder}}{{data.strMeasure10}} [disabled]=true>
        <input matInput *ngIf="data.strIngredient11" value={{data.strIngredient11}}{{placeholder}}{{data.strMeasure11}} [disabled]=true>
    </div>
</div>